html, body{
  margin: 0; padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header, footer{
  height: 70px;
  flex: none;
}
main{
  flex: 1;
  /* background: brown; */
  display: flex; 
}

/* 헤더영역 */
header img{
  width: 50px;
  height: 50px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
header > nav > ul{
  display: flex;
  gap: 3rem;
  list-style: none;
  margin-right: 2rem;
}
a{
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
header > a{
  display: flex;
  align-items: center;
  transition: .3s;
}
header > a:hover{
  color: brown;
}
header > nav > ul > li{
  position: relative;
  display: flex; 
  flex-direction: column; 
}
header > nav > ul > li::before{
  position: absolute; bottom: -5px; 
  content: '';
  width: 0; height: 5px;
  border-radius: 10px; 
  background: brown;
  transition: .3s;
}
header > nav > ul > li:hover::before{
  width: 100%;
}
header > nav > ul > li > ul{
  display: none;
}
header > nav > ul > li:hover > ul{
  display: block;
  margin: 0; padding: 0; 
  list-style: none; 
  position: absolute; 
  top: 250%; width: auto; 
  background: brown; padding: .5rem .5rem; 
}
header > nav > ul > li > ul > li > a{
  color: #fff;
}

/* 메인영역 */
main aside{
  width: 300px;
  flex: none;
  border: 1px solid red;
}
main section{
  flex: 1;
  border: 1px solid green;
}
main section .slider .slide{
  width: 100%;
  height: 100%;
  flex: none; 
  scroll-snap-align: center; 
}
main section .slider img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
main section .slider{
  width: 90%; height: 700px; /* 수정 */
  margin: 2rem auto;
  /* border: 3px solid brown; */ /* 주석처리 */
  display: flex; 
  overflow-x: auto; 
  overflow-y: hidden; 
  scroll-snap-type: x mandatory;  
} 
main section .slider::-webkit-scrollbar {
  height: 8px;  /* 스크롤바의 너비 */
}

main section .slider::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #d8792b; /* 스크롤바의 색상 */
  border-radius: 20px;
}

main section .slider::-webkit-scrollbar-track {
  background: rgba(235, 185, 93, 0.3);  /*스크롤바 뒷 배경 색상*/
}